[Unit]
Description=Backend FastAPI Service
After=network.target

[Service]
Type=simple
User=plareaiuser
WorkingDirectory=/home/plareaiuser/ptmantra/Ai_listener/AI_listener_poc/backend
ExecStart=/home/plareaiuser/ptmantra/Ai_listener/AI_listener_poc/backend/start.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
